.cardGroup {
  position: absolute;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
}

.cardGroup.cardActive {
  scale: 1;
  opacity: 1;
  transition-delay: 300ms;
}

.cardGroup.cardNext {
  scale: 0;
  opacity: 0.2;
  transform: translateX(100%);
}

.cardGroup.cardPrev {
  scale: 0;
  opacity: 0.2;
  transform: translateX(-100%);
}

.card-group:hover > .card {
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.card,
.image,
.cardGroup {
  aspect-ratio: 5/7;
}

.bigCard,
.cardGroup {
  width: 30vmin;
}

.littleCard {
  width: 12vmin;
  border-radius: 2vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  position: absolute;
  background-color: grba(255, 255, 255, 0.05);
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.imageLarge {
  width: 30vmin;
  border-radius: 1vmin;
}

.imageLittle {
  width: 12vmin;
  border-radius: 2vmin;
}

.bigCard {
  border-radius: 1vmin;
}

.bigCard:nth-child(2) {
  transform: translateX(-10%) rotate(-1deg);
}
.bigCard:nth-child(4) {
  transform: rotate(2deg);
}
.bigCard:nth-child(6) {
  transform: translateX(-6%) rotate(-3deg);
}
.bigCard:nth-child(8) {
  transform: translate(10%, 3%) rotate(5deg);
}

.cardGroup:hover {
  .bigCard:nth-child(2) {
    transform: translate(-70%, 16%) rotate(-24deg);
  }
  .bigCard:nth-child(4) {
    transform: translate(-25%, 8%) rotate(-8deg);
  }
  .bigCard:nth-child(6) {
    transform: translate(25%, 8%) rotate(8deg);
  }
  .bigCard:nth-child(8) {
    transform: translate(75%, 16%) rotate(24deg);
  }
  .littleCard:nth-child(1) {
    transform: translate(200%, -160%) rotate(-15deg);
  }
  .littleCard:nth-child(3) {
    transform: translate(160%, 170%) rotate(15deg);
  }
  .littleCard:nth-child(5) {
    transform: translate(-200%, -170%) rotate(15deg);
  }
  .littleCard:nth-child(7) {
    transform: translate(-280%, 140%) rotate(-15deg);
  }
}
