.container {
  background-color: black;
  height: calc(100vh - 38.5px);
  display: grid;
  place-items: center;
}

.cardGroups {
  aspect-ratio: 5/7;
}

.cardGroups {
  width: 30vmin;
}

.swiperButtons {
  margin-top: 8vmin;
  display: flex;
  justify-content: space-around;
  padding: 0 4vmin;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.4vmin solid rgba(200, 200, 200);
  border-radius: 100%;
  color: white;
  background-color: transparent;
  height: 7vmin;
  width: 7vmin;
  cursor: pointer;
}

.buttonIcon {
  font-size: 3.5vmin;
}

#acceptButton {
  color: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
}
